# ChromaDB/SQLite vector database
vector_db/*.sqlite*

# Entornos virtuales y dependencias
.env
.venv/
venv/
__pycache__/

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd

# Docker
docker-compose.override.yml

# Logs
logs/*
!logs/.gitkeep

# VSCode
.vscode/

# Base de datos vectorial
data/output/*
!data/output/.gitkeep
!data/examples/
vector_db/

# No guardar vectores ni colecciones locales
vector_db/
